@import "./variables";

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-auto {
  flex: 1 1 auto;
}

.img-wrap {
  position: relative;
}

.position-sticky {
  position: sticky;
  top: 0;
}

.icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-control {
  cursor: pointer;
}

.icon-none {
  cursor: inherit;
}

.text-bold {
  font-weight: bold;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-hover {
  overflow: hidden;

  &:hover {
    // overflow-x: auto;
  }
}

.ellipsis {
  text-overflow: ellipsis;
}

.lighten-1 {
  font-family: $font-open-sans;
  color: lighten($color-base, 30);
}

.nowrap {
  white-space: nowrap;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

@media (max-width: 787px) {
  .md-d-block {
    display: block !important;
  }

  .md-d-none {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .sm-d-block {
    display: block !important;
  }

  .sm-d-none {
    display: none !important;
  }
}
