:root {
  font-size: 62.5%; /* 1rem = 10px */
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

h1 {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 3.2rem;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

input {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}

input,
button {
  background: initial;
}
